// ----------------------------------------------------------------------------
// Includes
// ----------------------------------------------------------------------------

// @import 'fonts';
// @import 'slider';
@import 'colors';

$mobile-w-min: 20rem; //320px mobile
$tablet-w-min: 48rem; //768px tablet
$laptop-w-min: 64rem; //1024px laptop
$desktop-w-min: 80rem; //1280px desktop

// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

$sans: -apple-system, 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;

html {
    font-family: 'Futura PT',$sans;
    font-weight: 400;
    font-size: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 2rem;

    @media screen and (min-width: $tablet-w-min){
        font-size: 2.25rem;
    }

    @media screen and (min-width: $laptop-w-min){
        font-size: 7rem;
    }
}

h2 {
    font-weight: 700; //or 400?
    font-size: 1.5rem;

    @media screen and (min-width: $tablet-w-min){
        font-size: 1.8rem;
    }
    
    @media screen and (min-width: $laptop-w-min){
        font-size: 5rem;
        font-weight: 200;
    }
}

span.header {
    font-weight: 200;
}

h4 {
    font-weight: 400;
}

a {
    border-bottom: 1px rgba($color: #fff, $alpha: 0) solid;
    opacity: 1;
    text-decoration: none;
    transition: border 200ms ease-in, opacity 200ms ease-in;
}

a:hover, a:focus {
    border-bottom: 1px $black solid;
}


// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------


// ------------------------------------------------
// Helper Classes
// ------------------------------------------------

.visually-hidden {
    height: 0;
    position: absolute;
    visibility: hidden;
    width: 0;

}

.two-col {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;            
    margin: 0 auto;
    width: 100%;

    li, a {
        grid-column: 1;
    }

    @media screen and (min-width: $tablet-w-min){
        grid-template-columns: repeat(2, 1fr);                           
        
        width: 80%;

        li:nth-child(odd), a:nth-child(odd) {
            grid-column: 1;
        }

        li:nth-child(even), a:nth-child(even) {
            grid-column: 2;
        }
    }
}

// ------------------------------------------------
// Global Elements
// ------------------------------------------------

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

// ------------------------------------------------
// User Definitions
// ------------------------------------------------

// ------------------------------------------------
// Main
// ------------------------------------------------


main {

    margin: 0.5rem;


    h1 {
        display: block;

        @media screen and (min-width: $tablet-w-min){
            display: inline-block;
            margin-left: 2rem;
        }

        @media screen and (min-width: $laptop-w-min){
            display: block;
            margin-left: 7rem;
        }
    }

    span.header {
        display: inline-block;
        margin-left: 7rem;
        margin-top: 1rem;

        @media screen and (min-width: $laptop-w-min){
            margin-left: 40%;
        }
    }

    h2 {
        display: inline-block;
        margin-left: 8rem;
        margin-top: 1rem;

        @media screen and (min-width: $laptop-w-min){
            margin-left: 4rem;
            margin-top: 0;
        }
    }

    div.snare {        
        display: inline-block;    
        margin-top: -4rem;
        position: relative;
        width: 5rem;

        @media screen and (min-width: $tablet-w-min){
            display: block;
            margin-left: 5rem;
            margin-top: 0;
            width: 6rem;
        }

        @media screen and (min-width: $laptop-w-min) {
            margin-top: 0;
            margin-left: 7rem;
            margin-top: -7rem;
            width: 12.25rem;
        }
    }

    .toggles {
        display: flex;        
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        width: 30%;
        
        .toggle {
            margin: 0.5rem 1rem;
            text-align: center;   

            .switch {
                margin-top: 0.5rem;
            }
        }

        @media screen and (min-width: $tablet-w-min) {
            width: 33%;

            .switch {
                display: block;
                margin: 0 auto;
                margin-top: 0.5rem;
            }
        }

        @media screen and (min-width: $laptop-w-min) {
            width: 30%;
            
            .toggle {
                margin: 2.5rem 1rem;

                span {
                    font-size: 1.4rem;
                }
                
            }
        }
    }

    .date-time {
        display: inline-block;
        margin-left: 30%;
        text-align: right;
        width: 70%;

        h4 {
            margin: 0.6rem 0;
            text-align: center;
        }

        @media screen and (min-width: $tablet-w-min) {
            margin-top: -3rem;
            
            h4 {
                font-size: 1.25rem;
                line-height: 2;
                margin-left: 10rem;
            }
        }

        @media screen and (min-width: $laptop-w-min) {
            margin-top: -1rem;

            h4 {
                font-size: 2rem;
                margin-right: 7rem;
            }
        }
    }

    .personal-info {
        display: inline-block;
        margin-left: 1rem;
        margin-top: 2rem;        
        text-align: left;
        width: 50%;

        h4 {
            margin: 0.6rem 0;
        }

        @media screen and (min-width: $tablet-w-min) {
            margin-left: 2rem;
            margin-top: 2rem;
            width: 40%;            

            h4 {
                font-size: 1.25rem;
                line-height: 2;
            }
        }

        @media screen and (min-width: $laptop-w-min) {

            h4 {
                font-size: 2rem;
                line-height: 2;
                margin-left: 7rem;
                text-align: left;
            }
        }
    }

    .logo {
        
        display: inline-block;
        margin-top: 1.5rem;
        position: absolute;
        width: 6rem;

        @media screen and (min-width: $tablet-w-min) {
            margin-top: 3.5rem;
            width: 10rem;
        }

        @media screen and (min-width: $laptop-w-min) {
            margin-top: 2.5rem;
            width: 16rem;
        }
    }

    .links {
        display: flex;        
        flex-wrap: wrap;
        margin-left: 2rem;
        margin-top: 2rem;
        width: 60%;

        .hover {
            height: 2rem;
            position: absolute;
            margin-left: -1rem;
            margin-top: -1.8rem;
            width: 2rem;
            z-index: -1;
        }

        li {
            padding: 1rem 0;
        }

        @media screen and (min-width: $tablet-w-min) {
            font-size: 1.4rem;
            justify-content: space-evenly;
            margin-left: 0;
            margin-top: 7rem;
            width: 100%;

            .hover {                
                height: 3rem;
                margin-left: -1.4rem;
                margin-top: -2.6rem;
                width: 3rem;
            }
        }

        @media screen and (min-width: $laptop-w-min) {
            margin-top: 10rem;            
        }        
    }

    footer {
        text-align: center;
        margin-top: 1.25rem;
        font-size: 1.25rem;
        font-weight: 700;

        span.wrap {
            display: block;
        }

        @media screen and (min-width: $tablet-w-min) {
            font-size: 1.8rem;
            margin-top: 3rem;
        }

        @media screen and (min-width: $laptop-w-min) {
            font-size: 1.8rem;  
            margin-top: 4rem;      
        }
    }

}

// ------------------------------------------------
// Background
// ------------------------------------------------

div.bg {
    position: absolute;
    height: auto;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100vw;
    z-index: -10;

    .yellow-box {
        height: 10rem;
        width: 57vw;

        @media screen and (min-width: $tablet-w-min) {
            width: 53vw;
        }

        @media screen and (min-width: $laptop-w-min) {
            height: 23rem;
            width: 55vw;
        }
    }

    .green-box {
        height: 8rem;
        margin-left: 31vw;
        margin-top: -2rem;
        width: 69vw; 

        @media screen and (min-width: $tablet-w-min) {    
            height: 14rem;
            margin-left: 38vw;
            margin-top: -6rem;
            width: 62vw;
        }

        @media screen and (min-width: $laptop-w-min) {
            height: 14rem;
            margin-left: 42vw;
            margin-top: -4rem;
            width: 58vw;
        }
    }

    .violet-box {
        height: 5.5rem;
        margin-top: -1rem;
        width: 95vw;

        @media screen and (min-width: $tablet-w-min) { 
            height: 9.6rem;
            margin-top: -2rem;
            width: 84vw;
        }

        @media screen and (min-width: $laptop-w-min) {
            height: 12.5rem;
            margin-top: -2rem;
            width: 65vw;
        }
    }

    .hr-grp {
        margin-top: 1rem;

        hr {
            border-width: 0.05rem;
        }

        hr:nth-child(1){
            transform: translate(30vw);
        }
        hr:nth-child(2){
            transform: translate(25vw);
        }
        hr:nth-child(3){
            transform: translate(20vw);
        }

        @media screen and (min-width: $tablet-w-min) { 
            margin-top: 2rem;
        }

        @media screen and (min-width: $laptop-w-min) {
            margin-top: 6rem;
        }
    }

    .blue-boxes {
        display: inline-block;
        margin-top: -2rem;

        @media screen and (min-width: $tablet-w-min) {
            margin-top: 6rem;
        } 
        
        @media screen and (min-width: $laptop-w-min) {
            margin-top: 6rem;
        } 
        
        .box {
            height: 7rem;
            width: 40vw;

            @media screen and (min-width: $tablet-w-min) {
                height: 8rem;
                width: 18vw;
            }   

            @media screen and (min-width: $laptop-w-min) {
                height: 8rem;
                width: 18vw;
            }   
        }
    }

    .blue-boxes.right {   
        margin-left: 66vw;

        @media screen and (min-width: $tablet-w-min) {
            margin-left: 0;
            float: right;
            transform: translate(4rem, 0);
        }

        @media screen and (min-width: $laptop-w-min) {
            margin-left: 0;
            float: right;
            transform: translate(9rem, 0);
        }

        .box:nth-child(2){
            transform: translate(2rem, -5rem);

            @media screen and (min-width: $tablet-w-min) {
                transform: translate(-2rem, -5rem);                
            }

            @media screen and (min-width: $laptop-w-min) {
                transform: translate(-2rem, -5rem);                
            }
        }
        .box:nth-child(3){
            transform: translate(4rem, -10rem);

            @media screen and (min-width: $tablet-w-min) {
                transform: translate(-4rem, -10rem);                
            }

            @media screen and (min-width: $laptop-w-min) {
                transform: translate(-4rem, -10rem);                
            }
        }
    }

    .blue-boxes.left {
        display: none;

        @media screen and (min-width: $tablet-w-min) {
            display: inline-block;
        } 

        @media screen and (min-width: $tablet-w-min) {

            transform: translate(-4rem, 0);
            
            .box:nth-child(2){
                transform: translate(2rem, -5rem);                
            }
            .box:nth-child(3){
                transform: translate(4rem, -10rem);                
            }
        } 

        @media screen and (min-width: $laptop-w-min) {

            transform: translate(-9rem, 0);
            
            .box:nth-child(2){
                transform: translate(2rem, -5rem);                
            }
            .box:nth-child(3){
                transform: translate(4rem, -10rem);                
            }
        } 
    }
}

// ----------------------------------------------------------------------------
// Color
// ----------------------------------------------------------------------------

html {
    color: $black;
}

a {
    color: $black;
}

hr {
    border-color: $mid-grey;
    color: $mid-grey;
}

.links li div {
    background: #fff300;

    transform-origin: 0 0;
    transition: transform 200ms ease-in;
}

.links li:hover div, .links a:focus + div {
    transform: scaleX(5);

    @media screen and (min-width: $laptop-w-min) {
        transform: scaleX(4.5);        
    }
}

// ------------------------------------------------
// Background
// ------------------------------------------------

body {
    background-color: $white;
}

.yellow-box {
    background: yellow;
    opacity: 0.5;
}

.green-box {
    background: #00ff4b;
    opacity: 0.2;
}

.violet-box {
    background: violet;
    opacity: 0.3;
}

.blue-boxes .box {
    background-color: aqua;
    opacity: 0.15;
}

// ----------------------------------------------------------------------------
// Animations
// ----------------------------------------------------------------------------

// ----------------- SNARE ANIMATION ----------------- 

div.snare {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.0);
    cursor: pointer;
    transition: border-bottom 225ms ease-in-out;
}

div.snare:hover, div.snare:focus {
    border-bottom: 1px $black solid;
}

div.snare.active {
    border-color: $mid-grey;
}

div.snare g.sticks .shadowRight, div.snare g.sticks .shadowLeft{
    opacity: 0;
}

div.snare g.sticks .stickRight {
    transform: translate(6px,-20px);
}

div.snare g.sticks .stickLeft {
    transform: translate(-2px,-13px);
}


.snareAnimationStickLeft {
    animation: hitLeftStick 600ms;
    animation-timing-function: ease-out;
}

.snareAnimationShadowLeft {
    animation: showLeftShadow 600ms;
    animation-timing-function: ease-out;
}

@keyframes hitLeftStick{
    0% {
        transform: translate(-2px,-13px);        
    }
    50% {
        transform: translate(0px,10px);
    }
    100% {
        transform: translate(-2px,-13px);        
    }
}

@keyframes showLeftShadow {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.snareAnimationStickRight {
    animation: hitRightStick 600ms;
    animation-timing-function: ease-out;
}

.snareAnimationShadowRight {
    animation: showRightShadow 600ms;
    animation-timing-function: ease-out;
}

@keyframes hitRightStick{
    0% {
        transform: translate(6px,-20px);
    }
    50% {
        transform: translate(0); 
    }
    100% {
        transform: translate(6px,-20px);    
    }
}

@keyframes showRightShadow {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


// ----------------- BOX ANIMATIONS ----------------- 

.yellow-box {
    animation: enterYellowBox 1s ease-out 1 forwards;

}

.yellow-box.loop {
    animation: loopYellowBox 16s ease-in-out alternate infinite;
    animation-delay: -8s;
}

@keyframes loopYellowBox {
    0%{
        opacity: 0.55;
    }
    100%{
        opacity: 0.45;
    }
}

@keyframes enterYellowBox {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

// ---------

.green-box {
    animation: enterGreenBox 1s ease-out 1 forwards;
}

.green-box.loop {
    animation: loopGreenBox 6s ease-in-out alternate infinite;
    animation-delay: -5s;
}

@keyframes loopGreenBox {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(1rem);
    }
}

@keyframes enterGreenBox {
    0% {
        transform: translateY(-35rem);        
    }
    100% {
        transform: translateY(0rem);
    }
}

// --------

.violet-box {
    animation: enterVioletBox 1s ease-out 1 forwards;
    transform-origin: 0 50%;
}

.violet-box.loop {
    animation: loopVioletBox 10s ease-in-out alternate infinite;
    animation-delay: -5s;
}

@keyframes loopVioletBox {
    0%{
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1.1);
    }
}

@keyframes enterVioletBox {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);        
    }
}