// ----------------------------------------------------------------------------
// Includes
// ----------------------------------------------------------------------------

// @import 'fonts';
// @import 'slider';
@import 'colors';

$mobile-w-min: 20rem; //320px mobile
$tablet-w-min: 48rem; //768px tablet
$laptop-w-min: 64rem; //1024px laptop
$desktop-w-min: 80rem; //1280px desktop

// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

$sans: -apple-system, 'Helvetica Neue', Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;

html {
    font-family: 'Futura PT',$sans;
    font-weight: 400;
    font-size: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700; //or 400?
}

span.header {
    font-weight: 200;
}

h4 {
    font-weight: 400;
}

a {
    border-bottom: 1px rgba($color: #fff, $alpha: 0) solid;
    text-decoration: none;
    transition: border 200ms ease-in;
}

a:hover, a:focus {
    border-bottom: 1px $black solid;
}


// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------


// ------------------------------------------------
// Helper Classes
// ------------------------------------------------

.visually-hidden {
    height: 0;
    position: absolute;
    visibility: hidden;
    width: 0;

}

.two-col {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;            
    margin: 0 auto;
    width: 100%;

    li, a {
        grid-column: 1;
    }

    @media screen and (min-width: $tablet-w-min){
        grid-template-columns: repeat(2, 1fr);                           
        
        width: 80%;

        li:nth-child(odd), a:nth-child(odd) {
            grid-column: 1;
        }

        li:nth-child(even), a:nth-child(even) {
            grid-column: 2;
        }
    }
}

// ------------------------------------------------
// Global Elements
// ------------------------------------------------

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

// ------------------------------------------------
// User Definitions
// ------------------------------------------------

// ------------------------------------------------
// Main
// ------------------------------------------------


main {

    margin: 0.5rem;


    h1 {
        display: block;
    }

    span.header {
        display: inline-block;

        margin-left: 7rem;

        margin-top: 1rem;
    }

    h2 {
        display: inline-block;

        margin-top: 1rem;

        margin-left: 8rem;
    }

    div.snare {
        width: 5rem;

        display: inline-block;

        position: relative;

        margin-top: -4rem;
        // margin-left: 0.5rem;
    }

    .toggles {
        display: flex;

        flex-wrap: wrap;

        width: 30%;

        justify-content: center;
        position: absolute;

        .toggle {
            // display: inline-block;
    
            margin: 0.5rem 1rem;
    
            text-align: center;    
            
            .switch {
                margin-top: 0.5rem;
            }
        }
    }

    .date-time {
        width: 70%;

        display: inline-block;

        margin-left: 30%;

        text-align: right;

        h4 {
            margin: 0.6rem 0;
            text-align: center;
        }
    }

    .personal-info {
        width: 50%;

        display: inline-block;

        margin-left: 1rem;

        text-align: left;
        margin-top: 2rem;

        h4 {
            margin: 0.6rem 0;
        }
    }

    .logo {
        width: 6rem;

        display: inline-block;

        margin-top: 1.5rem;

        position: absolute;
    }

    .links {
        margin-top: 2rem;

        display: flex;

        flex-wrap: wrap;

        width: 60%;

        margin-left: 2rem;

        .hover {
            position: absolute;

            width: 2rem;

            height: 2rem;

            margin-left: -1rem;

            z-index: -1;

            margin-top: -1.8rem;
        }

        li {
            padding: 1rem 0;
        }
    }

    footer {
        font-weight: 700;
        margin-top: 1.25rem;
        text-align: center;

        font-size: 1.25rem;
    }

}

// ------------------------------------------------
// Background
// ------------------------------------------------

div.bg {
    
}

// ----------------------------------------------------------------------------
// Color
// ----------------------------------------------------------------------------

html {
    color: $black;
}

a {
    color: $black;
}

.links li div {
    background: $yellow;

    transform-origin: 0 0;
    transition: transform 200ms ease-in;
}

.links li:hover div, .links a:focus + div {
    transform: scaleX(5);
}

// ------------------------------------------------
// User Defined
// ------------------------------------------------

